{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended-type-checked"
    ],
    "plugins": ["@typescript-eslint"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": true,
        "tsconfigRootDir": "__dirname"
    },
    "ignorePatterns": ["*.test.ts"],
    "rules": {
        // turns on a rule with configuration
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-unsafe-member-access": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-unsafe-call": "off"
    },
    "overrides": [
        {
            "files": "*.test.ts",
            "rules": {
                "no-var-requires": 0,
                "no-unsafe-assignmen": 0
            }
        }
    ],
    "root": true
}